*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.demo {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(60deg, #5B5893, #2c2a49);
}
.demo__gallery {
  width: 688px;
  height: 460px;
  padding: 2px;
  flex-shrink: 0;
  background: #eee;
  -webkit-perspective: 700px;
          perspective: 700px;
  border-radius: 5px;
}
.demo__placeholder {
  width: 110px;
  height: 110px;
  margin: 2px;
  float: left;
  background-color: lightslategrey;
  border-radius: 5px;
}
.demo__part {
  position: relative;
  float: left;
  width: 110px;
  height: 110px;
  margin: 2px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
}
.demo__part:hover .demo__part-front {
  box-shadow: 0 0 10px black;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}
.demo__part:hover .demo__part-front:after {
  opacity: 0;
}
.demo__part-front, .demo__part-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  cursor: pointer;
}
.demo__part-front {
  background-color: lightslategrey;
  background-size: cover;
  background-position: center;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  transition: all 0.2s ease;
}
.demo__part-front:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  content: "";
  opacity: 0.5;
  transition: all 0.2s ease;
}
.demo__part-back {
  -webkit-transform: rotateY(180deg) rotateX(0deg);
          transform: rotateY(180deg) rotateX(0deg);
}
.demo__part-back-inner {
  width: 680px;
  height: 452px;
  background-image: url(http://kirillkiyutin.com/img/nyc/nyc1.jpg);
  background-size: cover;
  background-position: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.demo__help {
  margin-bottom: 7px;
  font-size: 30px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: white;
}
.demo__help a {
  color: white;
}
.demo__help a:hover {
  color: #E39999;
}

.demo__part-1-1 .demo__part-back-inner {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.demo__part-1-2 .demo__part-back-inner {
  -webkit-transform: translate(-114px, 0px);
          transform: translate(-114px, 0px);
}

.demo__part-1-3 .demo__part-back-inner {
  -webkit-transform: translate(-228px, 0px);
          transform: translate(-228px, 0px);
}

.demo__part-1-4 .demo__part-back-inner {
  -webkit-transform: translate(-342px, 0px);
          transform: translate(-342px, 0px);
}

.demo__part-1-5 .demo__part-back-inner {
  -webkit-transform: translate(-456px, 0px);
          transform: translate(-456px, 0px);
}

.demo__part-1-6 .demo__part-back-inner {
  -webkit-transform: translate(-570px, 0px);
          transform: translate(-570px, 0px);
}

.demo__part-2-1 .demo__part-back-inner {
  -webkit-transform: translate(0px, -114px);
          transform: translate(0px, -114px);
}

.demo__part-2-2 .demo__part-back-inner {
  -webkit-transform: translate(-114px, -114px);
          transform: translate(-114px, -114px);
}

.demo__part-2-3 .demo__part-back-inner {
  -webkit-transform: translate(-228px, -114px);
          transform: translate(-228px, -114px);
}

.demo__part-2-4 .demo__part-back-inner {
  -webkit-transform: translate(-342px, -114px);
          transform: translate(-342px, -114px);
}

.demo__part-2-5 .demo__part-back-inner {
  -webkit-transform: translate(-456px, -114px);
          transform: translate(-456px, -114px);
}

.demo__part-2-6 .demo__part-back-inner {
  -webkit-transform: translate(-570px, -114px);
          transform: translate(-570px, -114px);
}

.demo__part-3-1 .demo__part-back-inner {
  -webkit-transform: translate(0px, -228px);
          transform: translate(0px, -228px);
}

.demo__part-3-2 .demo__part-back-inner {
  -webkit-transform: translate(-114px, -228px);
          transform: translate(-114px, -228px);
}

.demo__part-3-3 .demo__part-back-inner {
  -webkit-transform: translate(-228px, -228px);
          transform: translate(-228px, -228px);
}

.demo__part-3-4 .demo__part-back-inner {
  -webkit-transform: translate(-342px, -228px);
          transform: translate(-342px, -228px);
}

.demo__part-3-5 .demo__part-back-inner {
  -webkit-transform: translate(-456px, -228px);
          transform: translate(-456px, -228px);
}

.demo__part-3-6 .demo__part-back-inner {
  -webkit-transform: translate(-570px, -228px);
          transform: translate(-570px, -228px);
}

.demo__part-4-1 .demo__part-back-inner {
  -webkit-transform: translate(0px, -342px);
          transform: translate(0px, -342px);
}

.demo__part-4-2 .demo__part-back-inner {
  -webkit-transform: translate(-114px, -342px);
          transform: translate(-114px, -342px);
}

.demo__part-4-3 .demo__part-back-inner {
  -webkit-transform: translate(-228px, -342px);
          transform: translate(-228px, -342px);
}

.demo__part-4-4 .demo__part-back-inner {
  -webkit-transform: translate(-342px, -342px);
          transform: translate(-342px, -342px);
}

.demo__part-4-5 .demo__part-back-inner {
  -webkit-transform: translate(-456px, -342px);
          transform: translate(-456px, -342px);
}

.demo__part-4-6 .demo__part-back-inner {
  -webkit-transform: translate(-570px, -342px);
          transform: translate(-570px, -342px);
}

.show-front {
  -webkit-transform: none;
          transform: none;
}
